version: '3'

services:
  db:
    image: 'postgres:15-alpine'
    container_name: postgres-db
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

volumes:
  postgres:
    external: false
