.features {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: auto;
  width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.featureTitle {
  font-family: "JMH", monospace;
  white-space: pre-line;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: center;
}
